body {
    margin: 0;
    padding: 0;
    background-color:  #f2f3f7;
}

header {
    background-color: ghostwhite;
    color: blue;
    padding: 35px;
}

.nav{
    align-items: center;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    padding: 10px;

}

.nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5em;
    transition: all 0.3s ease;
}

.nav a:hover  {
    background-color: #ddd;
    color: black;
}

.home-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: url(lionsleeping.jpg) center no-repeat;
    background-size: cover;
    color: white;
    font-size: 36px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  } 

  .home-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    margin: 50px 0;
  }
  
  .home-info {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
  }
  
  h2 {
    font-size: 36px;
    color: #1a1a1a;
    margin: 0 0 20px;
  }
  
  p {
    font-size: 18px;
    color: #1a1a1a;
    line-height: 1.5;
    margin: 0;
  }
